<!-- <h3>My First Angular Component ********************* {{20+30}}
    {{appHeading}}
   <button (click)="hanldeButtonClick()" >Change the Heading</button>

   <button (click)="incrementCount()" >Increment the count</button>
   {{count}}
   <h1 [innerHTML]="count"></h1>
  <input type="text" value="count">
  <input type="number" [value]="count">
  <input type="number" [(ngModel)]="count" >
  <br/>
</h3>
  <hr> -->
  <app-header></app-header>
  <router-outlet></router-outlet>
<!-- <hr>
<sign-in></sign-in>
<hr>
<sign-up></sign-up> -->
